<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.zombispormedio.assemble"
        android:installLocation="auto"
        >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true"
            />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:name=".AssembleApplication"
            android:allowBackup="true"
            android:fullBackupContent="@xml/assemble_backup_scheme"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:logo="@drawable/logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            >
        <activity android:name=".activities.BaseActivity" />
        <activity
                android:name=".activities.MainActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.HomeActivity"
                android:label="@string/home_title"
                />
        <activity
                android:name=".activities.LoginActivity"
                android:theme="@style/AppTheme"
                />
        <activity
                android:name=".activities.RegisterActivity"
                android:parentActivityName=".activities.LoginActivity"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.zombispormedio.assemble.activities.LoginActivity"
                    />
        </activity>
        <activity
                android:name=".activities.ProfileActivity"
                android:label="@string/profile_title"
                android:parentActivityName=".activities.HomeActivity"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.zombispormedio.assemble.activities.HomeActivity"
                    />
        </activity>
        <activity
                android:name=".activities.UpdateProfileActivity"
                android:label="@string/update_profile_title"
                android:parentActivityName=".activities.ProfileActivity"
                android:windowSoftInputMode="adjustResize"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.zombispormedio.assemble.activities.ProfileActivity"
                    />
        </activity>
        <activity
                android:name=".activities.UpdateBirthdateActivity"
                android:label="@string/update_birthdate_title"
                android:parentActivityName=".activities.UpdateProfileActivity"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.zombispormedio.assemble.activities.UpdateProfileActivity"
                    />
        </activity>
        <activity
                android:name=".activities.SettingsActivity"
                android:label="@string/settings_title"
                android:parentActivityName=".activities.HomeActivity"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.zombispormedio.assemble.activities.HomeActivity"
                    />
        </activity>
        <activity
                android:name=".activities.HelpActivity"
                android:label="@string/help_title"
                android:parentActivityName=".activities.HomeActivity"
                android:theme="@style/AppTheme"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.zombispormedio.assemble.activities.HomeActivity"
                    />
        </activity>
        <activity
                android:name=".activities.FriendsActivity"
                android:label="@string/friends_title"
                android:parentActivityName=".activities.HomeActivity"
                android:theme="@style/AppTheme"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.zombispormedio.assemble.activities.HomeActivity"
                    />
        </activity>
        <activity
                android:name=".activities.NewFriendActivity"
                android:label="@string/new_friend_title"
                android:parentActivityName=".activities.FriendsActivity"
                android:theme="@style/AppTheme"
                >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/new_friend_search"
                    />
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.zombispormedio.assemble.activities.FriendsActivity"
                    />
        </activity>
        <activity
                android:name=".activities.CreateMeetingActivity"
                android:label="@string/create_meeting_title"
                android:parentActivityName=".activities.HomeActivity"
                android:theme="@style/AppTheme"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.zombispormedio.assemble.activities.HomeActivity"
                    />
        </activity>
        <activity
                android:name=".activities.FirstStepTeamActivity"
                android:label="@string/create_team_title"
                android:parentActivityName=".activities.HomeActivity"
                android:theme="@style/AppTheme"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.zombispormedio.assemble.activities.HomeActivity"
                    />
        </activity>
        <activity
                android:name=".activities.CreateChatActivity"
                android:label="@string/create_chat_title"
                android:parentActivityName=".activities.HomeActivity"
                android:theme="@style/AppTheme"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.zombispormedio.assemble.activities.HomeActivity"
                    />
        </activity>
        <activity
                android:name=".activities.SecondStepTeamActivity"
                android:label="@string/create_team_title"
                android:parentActivityName=".activities.FirstStepTeamActivity"
                android:theme="@style/AppTheme"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.zombispormedio.assemble.activities.FirstStepTeamActivity"
                    />
        </activity>
        <activity
                android:name=".activities.ChatActivity"
                android:label="@string/app_name"
                android:parentActivityName=".activities.HomeActivity"
                android:theme="@style/AppTheme"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.zombispormedio.assemble.activities.HomeActivity"
                    />
        </activity>

        <service android:name="com.zombispormedio.assemble.services.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="com.zombispormedio.assemble.services.InstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>